
#servicios , .glacier1{
  background: url(../img/cafe2.jpg)  no-repeat center center fixed;
	-webkit-background-size: cover;
	background-size: cover;
  height: auto;
  margin: 0;
  font-weight: bold;
  padding: 0;
  color: white;
}
tbody>tr>td{
  font-size: 1.2em;
}
th,td{
  text-align: left;
}
table#cosa{
  max-width: 80%;
  margin-left: 10%;
  background:rgba(0, 0, 0, 0.7);
}
table#cosa>td{
  padding: 15px;
}
.tituRes{
  display: block;
  width: 100%;
  font-weight: bolder;
  text-align: center;
  margin: 0;
  padding: 2% 0;
}
.shadow-text{
  text-shadow: 4px 3px 10px rgba(0, 0, 0, 0.5);
}
#res-exp{
  display: block;
  width: 100%;
  background: rgba(0, 0, 0, 0.65);
  padding: 6px;
  padding-left: 10%;
  font-size: 1.5em;
  margin-bottom: 8px;
}
#res-exp>li{
  font-weight: lighter;
}
.num{
  font-weight: bolder;
  margin-right: 5%;
}
.p-foo{
  background: url(../img/q.jpg)  no-repeat right bottom fixed;
	-webkit-background-size: cover;
	background-size: cover;
  height: auto;
  margin: 0;
  padding: 4%;
  font-size: 1.2em;
  font-weight: bold;
  color: white;
}
footer{
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
}
